html
  head
    title="Pluralsight rocks"
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
  body
    div.container
      div.jumbotron
        h1 Hello people of pluralsight
        p click on the big shinny button below.
        p
          a.btn.btn-primary(href="http://google.com") Google